#createPost {
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 150px;
    background-color: white;
}



#imageProfile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#imagePost {
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}





.post-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px; 
    margin: 0 auto; 
    display: flex; 
    margin-bottom: 20px;
    flex-direction: column; 
}

.comments-section {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}



.user-info {
    display: flex;
   
    gap: 10px;
}

.post-header {
    display: flex;
    
}


.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 100%; 
}