

.preview-image img {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;

}


.post-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* bagi kolom jadi dua */
    grid-gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.page-name {
    grid-column: span 2; /* satuin elemen ke dalem dua kolom */
    text-align: center;
}

.preview-image {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#modalBtn {
    background-color: #333; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#modalBtn:hover {
    background-color: #555;
}

#modalBtn.dark-mode {
    background-color: black;
    color: white;
}

#modalBtn.dark-mode:hover {
    background-color: #555;
}



